.container {
  height: 100vh;
  width: 100%;
  background-color: aqua;
}

.skills {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 18px;
  text-align: center;
}
